<div class="container">
  <h1> <%= @restaurant.name %> </h1>
    <ul class="list-details">
      <li><%=  @restaurant.address  %></li>
      <li><%=  @restaurant.category  %></li>
      <li><%=  @restaurant.phone_number  %></li>
    </ul>

  <h2>Reviews</h2>
   <ul>
    <% @restaurant.reviews.each do |review| %>
      <li><%= review.content %> <%=  "â­" * (review.rating) %>
      </li>
    <% end %>
    </ul>

  <h2>Leave a review</h2>
  <%= simple_form_for [@restaurant, @review]  do |f| %>
    <%= f.input :content, input_html: { class: "mb-2 mr-sm-2" } %>
    <%= f.input :rating, input_html: { class: "mb-2 mr-sm-2" } %>
    <%= f.button :submit, class: "btn-primary mb-2" %>
  <% end %>
  <div class="link-to-list">
    <%= link_to 'Back to restaurants', restaurants_path %>
  </div>
</div>
